/*colors and fonts*/
body{
	background-color: rgb(253, 248, 244);
    color: black;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    font-weight: lighter;
}
h1,h2{
	font-family: 'Lora', serif;
}

h1{
	color: black;
    font-weight: 10px;
    letter-spacing: 2px;
    font-size: 20px;
 }

h2{
	color: orange;
	font-weight: 60px;
	font-size: 20px;
}

a{
	text-decoration: none;
	color: black;
	font-weight: bold;
	font-size: 20px;
}
a:hover{
	color: #6B72E1;
}


/*custom design with class*/
.container{
	width: 700px;
	margin: 40px auto;
	text-align: center;
}
.card-white{
	background-color: white;
	padding: 30px;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
	border-radius: 4px;
	margin: 25px 0px;
	text-align: center;
}
.img-circle{
	border-radius: 80%;
	box-shadow: 0px 10px 30px rgba(0,0,0,0.1);
}
.btn-blue{
	background-color: orange;
	color:  white;
	padding: 0px 25px;
}
.btn-blue:hover {
	background-color: orange;
	color: #fcdab7;
}
.list-inline{
	list-style: none;
	padding-left: 0px;
}
.list-inline li {
display: inline;
padding: 15px;
}

.list-inline i {
	font-size: 28px;
	color: rgb(235,235,235);
}

.list-inline i:hover {
	font-size: 28px;
	color: #6B72E1;
}	

#introduction p {
	margin-bottom: 20px;
}